# Foundations of Computer Science 
## Project for the final exam, a.a. 2017-2018

In this notebook several aspects of a sample of The Movie Database will be inspected.

In [8]:
import pandas as pd
import re
import numpy as np

In [9]:
#upload of datasets and first inspection

movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [10]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### 1. For each movie compute the number of cast members

In [11]:
cast_no = [] #this list will contain the number of cast members and will be attached to the movies df

for i in range(len(credits)):
    cast_no.append(len(eval(credits.cast[i])))  #eval function transforms string-list into a list
    
credits['cast no'] = cast_no
credits.head()

,movie_id,title,cast,crew,cast no
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",83
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",34
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",83
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",158
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",27

### 2. How many movies do not have a homepage?

In [12]:
len(movies.homepage) - len(movies.homepage.dropna())

3091

### 3. For each year, how many movies do not have a homepage?

In [13]:
movies['year'] = pd.to_datetime(movies['release_date'].dropna()).dt.year  #year extraction

movies[movies['homepage'].isnull()].groupby('year').size()

year
1916.0      1
1925.0      1
1927.0      1
1929.0      2
1930.0      1
1932.0      1
1933.0      2
1934.0      1
1935.0      1
1936.0      2
1937.0      1
1938.0      2
1939.0      2
1940.0      4
1941.0      1
1942.0      1
1944.0      2
1945.0      4
1946.0      3
1947.0      3
1948.0      3
1949.0      2
1950.0      1
1951.0      3
1952.0      4
1953.0      4
1954.0      4
1955.0      2
1956.0      3
1957.0      2
         ...
1987.0     29
1988.0     28
1989.0     28
1990.0     24
1991.0     29
1992.0     29
1993.0     44
1994.0     50
1995.0     64
1996.0     86
1997.0    102
1998.0    119
1999.0    145
2000.0    145
2001.0    159
2002.0    164
2003.0    131
2004.0    149
2005.0    149
2006.0    144
2007.0     92
2008.0     97
2009.0     85
2010.0     54
2011.0     43
2012.0     92
2013.0    127
2014.0    157
2015.0    110
2016.0     31
Length: 89, dtype: int64

### 4. Extract the domain of each homepage.

In [14]:
def extract_domain(address):
    pattern = "([\w\-]+)(\.([\w\-]+))+" #regular expression to find the domain
    return re.search(pattern, address).group()

url = list(movies.homepage.dropna())

for string in url:
    domain = extract_domain(string)
    print(domain)

www.avatarmovie.com
disney.go.com
www.sonypictures.com
www.thedarkknightrises.com
movies.disney.com
www.sonypictures.com
disney.go.com
marvel.com
harrypotter.warnerbros.com
www.batmanvsupermandawnofjustice.com
www.superman.com
www.mgm.com
disney.go.com
disney.go.com
www.manofsteel.com
marvel.com
disney.go.com
www.sonypictures.com
www.thehobbit.com
www.theamazingspiderman.com
www.robinhoodthemovie.com
www.thehobbit.com
www.goldencompassmovie.com
www.titanicmovie.com
marvel.com
www.jurassicworld.com
www.skyfall-movie.com
www.sonypictures.com
marvel.com
disney.go.com
www.transformersmovie.com
www.transformersmovie.com
www.ozthegreatandpowerfulmovie.com
www.theamazingspiderman.com
disney.go.com
www.disney.go.com
greenlanternmovie.warnerbros.com
disney.go.com
www.warnerbros.com
www.furious7.com
www.worldwarzmovie.com
www.x-menmovies.com
jackthegiantkiller.warnerbros.com
disney.go.com
www.pacificrimmovie.com
www.transformersmovie.com
www.indianajones.com
movies.disney.com
disney.go.com
www.startrekmovie.com
disney.go.com
www.sonypictures.com
disney.go.com
www.jupiterascending.com
legendoftarzan.com
www.foxmovies.com
thedarkknight.warnerbros.com
disney.go.com
www.monstersvsaliens.com
www.ironmanmovie.com
www.hugomovie.com
www.themummy.com
www.suicidesquad.com
www.evanalmighty.com
www.edgeoftomorrowmovie.com
www.gijoemovie.com
movies.disney.com
movies.disney.com
www.ironmanmovie.com
www.snowwhiteandthehuntsman.com
movies.disney.com
www.dawnofapes.com
www.captainamericathewintersoldiermovie.com
www.shrekforeverafter.com
movies.disney.com
movies.disney.com
disney.go.com
www.warof1996.com
www.howtotrainyourdragon.com
marvel.com
www.interstellarmovie.net
inceptionmovie.warnerbros.com
www.thehobbit.com
www.benjaminbutton.com
www.x-menfirstclassmovie.com
www.thehungergames.movie
disney.go.com
www2.warnerbros.com
movies.disney.com
www.shrekthethird.com
www.warcraft-themovie.com
www.terminatormovie.com
www.transformersmovie.com
www.harrypotterorderofthephoenix.com
harrypotter.warnerbros.com
www.sonypictures.com
iamlegend.warnerbros.com
www.warnerbros.com
disney.go.com
www2.warnerbros.com
www.madagascar-themovie.com
www.nightatthemuseummovie.com
www.x-menorigins.com
movies.disney.com
marvel.com
www.madmaxmovie.com
www.angelsanddemons.com
thor.marvel.com
movies.disney.com
disney.go.com
www.wrathofthetitansmovie.org
darkshadowsmovie.warnerbros.com
www.missionimpossible.com
www.thewolfmanmovie.com
www.beemovie.com
www.kungfupanda.com
www.thelastairbendermovie.com
www.missionimpossible.com
disney.go.com
www.dreamworksanimation.com
www.mgm.com
www.ghostbusters.com
www.sonypictures.com
www.beowulfmovie.com
www.kungfupanda.com
www.missionimpossible.com
www.riseoftheguardians.com
www.sonypictures.com
www.exodusgodsandkings.com
www.sonypictures.com
www.howtotrainyourdragon.com
www.warnerbros.com
www.gijoemovie.com
captainamerica.marvel.com
www.mgm.com
www.masterandcommanderthefarsideoftheworld.com
happyfeettwo.warnerbros.com
movies.disney.com
www.foxmovies.com
www.turbomovie.com
www.rangomovie.com
www.universalstudiosentertainment.com
www.kungfupanda.com
marvel.com
www.thehungergames.movie
www.meettheboov.com
www.sonypictures.com
www.noahmovie.com
www.us.movie.tintin.com
www.megamind.com
harrypotter.warnerbros.com
www.ripd.com
disney.go.com
www.thehungergames.movie
www.sonypictures.com
www.riomovies.com
www.watchvideoseries.com
sherlockholmes2.warnerbros.com
www.clash-of-the-titans.com
www.thebournelegacy.com
www.grinched.com
www.thedayaftertomorrow.com
www.missionimpossible.com
www.lifeofpimovie.com
www.sonypictures.com
www.jasonbournemovie.com
www.projectprometheus.com
www.robocop.com
www.speedracerthemovie.warnerbros.com
www.howdoyouknow-movie.com
www.knightanddaymovie.com
www.uphe.com
www.starwars.com
www.starwars.com
movies.disney.com
www.thewolverinemovie.com
www.starwars.com
www.thecroodsmovie.com
www.asterixauxjeuxolympiques.com
www.thehuntsmanmovie.com
www.teenagemutantninjaturtlesmovie.com
gravitymovie.warnerbros.com
www.teenagemutantninjaturtlesmovie.com
www.fantasticfourmovie.com
www.sanandreasmovie.com
www.mgm.com
oceans12.warnerbros.com
www.thedivergentseries.movie
www.sonypictures.com
www.300themovie.com
www.smurfhappens.com
movies.disney.com
www.thedivergentseries.movie
www.steelgetsreal.com
smurfhappens.com
www.if-sentinel.com
www.lordoftherings.net
www.kingdomofheavendvd.com
disney.go.com
www.foxmovies.com
www.theisland-themovie.com
www.mgm.com
www.publicenemies.net
www.americangangster.net
www.sonypictures.com
www.littlefockers.net
www.theotherguys-movie.com
www.warnerbros.com
unchainedmovie.com
theexpendables2film.com
www.eragonmovie.com
wherethewildthingsare.warnerbros.com
thetourist-movie.com
www.end-of-days.com
www.thewolfofwallstreet.com
cloudatlas.warnerbros.com
legendoftheguardians.warnerbros.com
theexpendables3film.com
www.facebook.com
www.intheheartoftheseamovie.com
www.greenzonemovie.com
www.peanutsmovie.com
video.movies.go.com
www.theflowersofwarmovie.com
www.sonypictures.com
www.sexandthecitymovie.com
www.iceagemovies.com
movies.disney.com
www.lovelybones.com
movies.disney.com
www.lordoftherings.net
www.lordoftherings.net
www.seventhsonmovie.com
www.apeswillrise.com
www.diehardmovie.com
disney.go.com
www.sonypictures.com
toystory.disney.com
www.cloudywithachanceofmeatballs.com
www.iceagemovies.com
thedeparted.warnerbros.com
www.tropicthunder.com
dragontattoo.com
sherlock-holmes-movie.warnerbros.com
www.benhurmovie.com
www.disney.com
www.foxmovies.com
www.youdontmesswiththezohan.com
www.pixels-movie.com
www.warnerbros.com
www.theinterpretermovie.com
www.percyjacksonthemovie.com
nowyouseeme.movie
www.riomovies.com
www.cinderellamanmovie.com
www.nutcrackerin3d.com
www.seabiscuitmovie.com
www.warnerbros.com
www.uphe.com
www.warnerbros.co.uk
www.threemusketeers-movie.com
www.welcometohotelt.com
disney.go.com
www.nooneissafe.com
www.towerheist.com
www.sonypictures.com
itscomplicatedmovie.com
oceans13.warnerbros.com
www.sonypictures.com
www.thedivergentseries.movie
www.therundown.com
www.sonypictures.com
www.thefastandthefurious3.com
www.arthurchristmas.com
www.meetjoeblack.com
www.wbshop.com
www.scottpilgrimthemovie.com
dreddthemovie.com
catsanddogsmovie.warnerbros.com
www.fox.co.uk
www.brucealmighty.com
expendablesthemovie.com
www.missionimpossible.com
www.thehungergames.movie
hangoverpart2.warnerbros.com
red-themovie.com
www.munkyourself.com
www.sonypictures.com
getsmartmovie.warnerbros.com
www.shutterisland.com
www.justgowithit-movie.com
www.warnerbros.com
www.yogibear.com
www.zookeeper-movie.com
movies.disney.com
timemachine.countingdown.com
www.sonypictures.com
marsattacks.warnerbros.com
chooseyoursurrogate.com
www.walkingwithdinosaurs.com
nine-movie.com
www.thelastwitchhunter.movie
oceans-lefilm.com
asoundofthunder.warnerbros.com
www.abeautifulmind.com
movies.disney.com
www.themysteriousisland.com
www.jackandjill-movie.com
www.thelittleprincemovie.com
www.thesecretlifeofpets.com
www.despicableme.com
www.universalstudiosentertainment.com
www.wantedmovie.com
www.iceagemovies.com
www.hairspraymovie.com
www.grownups-movie.com
www.theterminal-themovie.com
www.epicbuzz.net
www.charliewilsonswar.net
www.dreamgirlsmovie.com
killersfilm.com
www.sonypictures.com
www.immortalsmovie.com
www.wb-soldier.com
www.minionsmovie.com
suckerpunchmovie.warnerbros.com
www.warnerbros.com
www.angrybirds-movie.com
www.warnerbros.com
www.funnypeoplemovie.com
www.thekingdommovie.com
www.sonypictures.com
www.simpsonsmovie.com
www.shrek2.com
disney.go.com
www.sonypictures.com
www.spongebobmovie.com
www.inglouriousbasterds-movie.com
www.sonypictures.com
www.avp-movie.com
www.munkyourself.com
www.battlela.com
www.warhorsemovie.com
www.monumentsmen.com
www.wallstreetmoneyneversleeps.com
www.stardustmovie.com
www.thedilemmamovie.com
www.entertheunderworld.com
www.warnerbros.com
www.osmosisjones.com
www.dorothyofozthemovie.com
www.legendary.com
www.skycaptain.com
escapeplanmovie.com
www.paramount.com
eclipsethemovie.com
www.despicable.me
www.agoralapelicula.com
hallpassmovie.warnerbros.com
www.facebook.com
wwws.warnerbros.co.uk
www.dinnerforschmucks.com
www.foxmovies.com.au
www.iceagemovies.com
dreamcatchermovie.warnerbros.com
www.warnerbros.com
www.lesmiserablesfilm.com
youvegotmail.warnerbros.com
duedatemovie.warnerbros.com
www.unbrokenfilm.com
movies.warnerbros.com
movies.disney.com
www.dictatorthemovie.com
eyeswideshut.warnerbros.com
focusmovie.com
www.thismeanswarmovie.com
www.warnerbros.com
www.residentevil-movie.com
www.deathracemovie.net
www.foxmovies.com
www.ifrankensteinfilm.com
www.olivertwistthemovie.co.uk
marvel.com
sincity-2.com
www.everestmovie.com
www.parfum.film.de
www.austinpowers.com
www.astroboy-themovie.com
www.jurassicpark.com
www.littleman-movie.com
www.u-571.com
www.lovegurumovie.com
thehatefuleight.com
www.iwantcandy.com
300themovie.warnerbros.com
www.meetthefockers.com
marleyandmemovie.com
thegreenmile.warnerbros.com
video.movies.go.com
movies.disney.com
www.gonegirlmovie.com
www.universalstudiosentertainment.com
www.mgm.com
www.2guns.net
catsanddogsmovie.warnerbros.com
www.italianjobmovie.com
www.couplesretreatmovie.com
mazerunnermovies.com
www.sonypictures.com
www.the-scorpion-king.com
www.jackreachermovie.com
www.thisisit-movie.com
contagionmovie.warnerbros.com
coraline.com
www.thehappeningmovie.com
movies.disney.com
www.sonypictures.com
paranorman.com
www.uphe.com
www.foxmovies.com
www.facebook.com
www.shootermovie.com
www.thelegomovie.com
gangstersquad.warnerbros.com
invictusmovie.warnerbros.com
www.stateofplaymovie.net
www.universalstudiosentertainment.com
www.sonypictures.com
troublewiththecurve.warnerbros.com
www.righteouskill-themovie.com
www.soloistmovie.com
www.sonypictures.com
www.priest-themovie.com
sinbad-themovie.com
www.winterstalemovie.com
www.themortalinstrumentsmovie.com
www.meetdavemovie.com
www.inkheartmovie.com
www.mycityscreams.com
mortdecaithemovie.com
www.inthenameoftheking.com
themonkeykingmovie.com
www.foxmovies.com
www.americansnipermovie.com
www.goosebumps-movie.com
www.vivarockvegas.com
www.leatherheadsmovie.com
www.netflix.com
www.theinternshipmovie.com
www.sonypictures.com
www.redtails2012.com
www.sonypictures.com
www.afterthesunset.com
www.thespiritofvengeance.com
movies.uip.de
movies.disney.com
www.chipmunks.com
www.captainphillipsmovie.com
www.datenight-movie.com
www.sonypictures.com
www.sonypictures.com
www.miramax.com
www.popperspenguins.com
www.forbiddenkingdommovie.com
en.wikipedia.org
www.paddington.com
newline.com
www.changelingmovie.net
www.imaginethatmovie.com
www.thunderbirdsmovie.com
www.burlesquethemovie.com
www.warnerbros.com
www.sonypictures.com
www.imdb.com
www.youmeanddupree.com
www.sonypictures.com
www.sonypictures.com
luckyyoumovie.warnerbros.com
www.facebook.com
www.zerodarkthirty-movie.com
www.uphe.com
www.valentinesdaymovie.com
www.warnerbros.com
www.thechangeupmovie.com
www.universalpictures.com
www.frompariswithlovefilm.com
www.twilightthemovie.com
www.shrek.com
www.theadjustmentbureau.com
www.tedisreal.com
www.super8-movie.com
www.brockovich.com
www.22jumpstreetmovie.com
www.centralintelligencemovie.com
daddyshomemovie.tumblr.com
movies.disney.com
theinsideman.net
www.weboughtazoo.com
knowing-themovie.com
crazystupidlove.warnerbros.com
www.moneyball-movie.com
vforvendetta.warnerbros.com
www.hanselandgretelmovie.com
www.findnumberfour.com
syrianamovie.warnerbros.com
www.thirteenhoursmovie.com
www.bookoflifemovie.com
www.sonypictures.com
www.americanreunionmovie.com
thejudgemovie.com
www.miramax.com
ninja-assassin-movie.warnerbros.com
www.themarmadukemovie.com
hereafter.warnerbros.com
hannibalrising.com
www.sonypictures.com
www.theofficialjohncarpenter.com
www.warnerbros.com
stxmovies.com
www.focusfeatures.com
www.yourhighnessmovie.net
www.fairgame-movie.com
gamerthemovie.com
www.zoolander.com
www.driveangry3d.com
www.theboatthatrocked.net
www.indianajones.com
www.chappie-movie.com
www.sonypictures.com
www.k-pax.com
www.310toyumathefilm.com
www.taken3movie.com
www.happilyneverafterthefilm.com
www.startrek.com
jonah-hex.warnerbros.com
www.theinfiltrator.com
www.warnerbros.com
prisonersmovie.warnerbros.com
disney.go.com
www.warnerbros.com
www.loveactually.com
movies.disney.com
www.sonypictures.com
www.savagesfilm.com
www.cellularthemovie.com
www.theantbully.com
www.acrosstheuniverse.com
www.babylonadmovie.com
www.aliensintheatticmovie.com
movies.warnerbros.com
alltheprettyhorses.com
ent.sina.com.cn
www.bangkokdangerousmovie.net
www.loveinthetime.com
www.johnnyenglishreborn.com
www.thresholdanimationstudios.com
argothemovie.warnerbros.com
www.thebountyhunter-movie.net
www.sonypictures.com
www.foxmovies.com
www.universalstudiosentertainment.com
www.sonypictures.com
www.themechanicmovie.com
www.21jumpstreet-movie.com
www.notting-hill.com
www.alongcamepolly.com
www.mgm.com
www.redridinghoodmovie.com
www.oneforthemoneyfilm.com
www.iamrogue.com
movies.uip.de
pourquoijaipasmangemonpere.com
www.manonaledge.com
www.americanhustle-movie.com
www.myspace.com
www.backtothefuture.com
lucymovie.com
www.facebook.com
www.lonesurvivorfilm.com
www.warnerbros.com
www.thesocialnetwork-movie.com
www.hesjustnotthatintoyoumovie.com
www.backtothefuture.com
www.julieandjulia.com
www.miramax.com
www.theinternmovie.com
www.ridealong.com
www.miramax.com
www.vantagepoint-movie.com
www.iloveyouman.com
www.17againmovie.com
www.TheFinalDestinationMovie.com
www.gethimtothegreek.net
www.miramax.com
www.thelincolnlawyermovie.com
unknownmovie.warnerbros.com
wwws.warnerbros.de
www.escapeearthmovie.com
www.mgm.com
wwws.warnerbros.de
disney.go.com
gothikamovie.warnerbros.com
www.avp-r.com
paulthemovie.co.uk
www.scream-4.com
finaldestinationmovie.warnerbros.com
www.drillbittaylor.com
extremelyloudandincrediblyclose.warnerbros.com
www.morningglorymovie.com
www.sonypictures.com
www.thereapingmovie.com
www.colombiana-movie.com
www.sonypictures.com
www.foxsearchlight.com
www.theofficialjohncarpenter.com
www.die-fabelhafte-welt-der-amelie.de
www.everybodyloveswhales.com
www.pandorummovie.com
www.thousandwordsmovie.com
www.delgo.com
www.disturbia.com
www.thehuntingpartymovie.com
snowpiercer-film.com
baahubali.com
www.becauseisaidsomovie.com
movies.disney.com
www.redclifffilm.com
www.thetruthisntpretty.com
waterforelephantsfilm.com
www.sonypictures.com
angeleyesmovie.warnerbros.com
www.weareallprecious.com
www.theofficialjohncarpenter.com
www.riddick-movie.com
www.cityofember.com
www.facebook.com
creedthemovie.com
thetownmovie.warnerbros.com
whattoexpectthefilm.com
www.magnoliamovie.com
copoutmovie.warnerbros.com
howtobesinglemovie.com
dolphintalemovie.warnerbros.com
www.twilightthemovie.com
werethemillers.warnerbros.com
oostrov.ru
www.mgm.com
www.mgm.com
www.seewinter.com
www.newline.com
whatdoyoubelieve.warnerbros.com
www.spacechimpspower.com
hangoverpart2.warnerbros.com
therebedragonsmovie.com
www.theblindsidemovie.com
horriblebossesmovie.warnerbros.com
www.truegritmovie.com
www.devilwearspradamovie.com
www.identitythiefmovie.com
www.sonypictures.com
disney.go.com
disney.go.com
www.warnerbros.com
www.fwb-movie.com
www.neighbors-movie.com
www.thisis40movie.com
disney.go.com
licensetowedthemovie.warnerbros.com
www2.warnerbros.com
www.sonypictures.com
www.maxpaynethemovie.com
www.intimemovie.com
www.theback-upplan.com
somethingborrowedmovie.warnerbros.com
www.thepianistmovie.com
jedgarmovie.warnerbros.com
www.sonypictures.com
www.nannymcphee.co.uk
www.miramax.com
www.sonypictures.com
www.abductionthefilm.com
www.brokencitymovie.com
www.premiumrush.com
www.furryvengeance-movie.com
www.walkhard-movie.com
www.theyoungvictoriamovie.com
www.whiteoutmovie.com
www.twowaysthroughlife.com
punisherwarzonemovie.com
www.sonypictures.com
themazerunnermovie.com
thefountainmovie.warnerbros.com
www.sonypictures.com
www.exitwounds.net
www.nwave.com
www.darkesthourmovie.com
marvel.com
www.safethefilm.com
www.starwars.com
www.wanderlust-movie.com
www.nacholibre.com
www.bridesmaidsmovie.com
www.thisistheend.com
www.whoarethetakers.com
www.bigmommaslikefatherlikeson.com
www.enterthesourcecode.com
wwws.warnerbros.de
www.repomenarecoming.com
www.the-good-german.de
www.apocalypsenow.com
going-the-distance.warnerbros.com
www.paramount.com
www.mgm.com
toystory.disney.com
www.extraordinarymeasuresthemovie.com
movies.disney.com
www.paramount.com
www.sevenmovie.com
www.d-9.com
www.milliondollarbaby-derfilm.de
www.newline.com
www.27dressesthemovie.com
disney.go.com
www.theupintheairmovie.com
loopermovie.com
www.forgettingsarahmarshall.com
fourbrothersmovie.com
www.babymamamovie.net
www.bridewars.com
www.sonyclassics.com
www.mgm.com
www.wallaceandgromit.com
www.letterstojuliet-movie.com
www.threestooges.com
corpsebridemovie.warnerbros.com
www.dragmetohell.net
theageofadalinemovie.com
www.newline.com
stepupmovie.com
www.sonypictures.com
www.30daysofnight.com
www.discoverthecabininthewoods.com
www.meetthespartans.com
hannathemovie.com
www.larrycrowne.com
www.carrie-movie.com
www.sideeffectsmayvary.com
disney.go.com
www.sanctummovie.com
www.thefiveyearengagementmovie.com
www.thenextthreedaysmovie.com
www.sonypictures.com
www.loveandotherdrugsthemovie.com
northcountrymovie.warnerbros.com
www.splicethefilm.com
www.prideandglorymovie.com
alexandemmamovie.warnerbros.com
www.welcometofrightnight.com
www.thelaststandfilm.com
www.hoodwinkedtoomovie.com
www.miramax.com
doctorparnassus.com
www.barneysversionthemovie.com
www.runnerrunnermovie.com
www.antitrustthemovie.com
thepromisemovie.net
jessejamesmovie.warnerbros.com
www.1911movie.com
www.machinegunpreacher.org
www.kdt.film.de
www.savvafilm.com
www.sausagepartymovie.com
www.thebossfilm.com
movies.disney.com
www.straightouttacompton.com
www.indianajones.com
www.florencefosterjenkinsmovie.com
www.thebigshortmovie.com
www.takingwoodstockthemovie.co.uk
www.dawnofthedeadmovie.net
www.mgm.com
noreservationsmovie.warnerbros.com
30minutesorless.com
movies.disney.com
www.prideandprejudicemovie.net
www.warnerbros.com
www.theofficialjohncarpenter.com
www.ourbrandiscrisismovie.com
www.facebook.com
www.mgm.com
knockedupmovie.com
www.mysisterskeepermovie.com
www.foxsearchlight.com
www.renditionmovie.com
www.joyfulnoisethemovie.com
movies.uip.de
www.anonymous-movie.com
www.theduchessmovie.com
movies.disney.com
www.case39movie.com
spykidsmovie.net
www.mindhunters-thefilm.com
whatjusthappenedfilm.com
www.magicflutefilm.com
paulblartmallcop.com
www.universalstudiosentertainment.com
www.sonypictures.com
www.legionmovie.com
www.painandgainmovie.com
www.mgm.com
selflessmovie.tumblr.com
www.thepassionofthechrist.com
www.thegrantorino.com
www.wthefilm.com
www.schindlerslist.com
thehelpmovie.com
www.cloverfieldmovie.com
www.nostringsattachedmovie.com
theluckyonemovie.warnerbros.com
disney.go.com
www.amadeachristmasmovie.com
www.thegreythemovie.com
www.warnerbros.com
www.contrabandmovie.net
www.thehousebunny.com
movies.disney.com
thegiverfilm.com
www.goodluckchuckthemovie.com
augustrushmovie.warnerbros.com
www.thegamblermovie.com
www.foxmovies.com
www.the-losers.com
www.dontbeafraidofthedark.com
thebox-movie.warnerbros.com
www.uphe.com
www.iamrogue.com
www.conspiratorthemovie.com
www.theofficialjohncarpenter.com
www.warriorfilm.com
www.stoplossmovie.com
www.thepossessionmovie.com
www.strawdogsmovie.com
www.theroad-movie.com
www.blindness-themovie.com
www.bloodrayne-themovie.com
www.sonyclassics.com
lamiglioreoffertailfilm.it
www.littlewhiteliesmovie.co.uk
www.ontheroad-themovie.com
www.rocky.com
www.facebook.com
www.oldschool-themovie.com
www.zackandmiri.com
www.themenwhostareatgoatsmovie.com
readytorumble.warnerbros.com
www.weinsteinco.com
www.piranha-3d.com
www.thebridgeofsanluisreymovie.com
www.fasterthemovie.com
www.zombieland.com
www.starwars.com
www.sonypictures.com
www.pitchblack.com
www.herthemovie.com
www.foxmovies.com
www.haywiremovie.com
www.mgm.com
wip.warnerbros.com
www.cocoavantchanel.fr
www.bodyguardsandassassins.com
www.1408-themovie.com
www.mgm.com
www.thewaterdiviner.com
www.aboutmary.com
movies.disney.com
www.sonypictures.com
weinsteinco.com
theinformantmovie.warnerbros.com
www.hailcaesar-film.com

www.facebook.com
www.tannerhallthefilm.com
www.facebook.com
www.magpictures.com
thewizardofoz.warnerbros.com
www.beerleaguethemovie.com
www.sonyclassics.com
www.cronocrimenes.com
www.fatsickandnearlydead.com
www.facebook.com
2016themovie.com
kevinhartnation.com
www2.foxsearchlight.com
robotandfrank-film.com
www.clubcultura.com
spectacularnowmovie.com
www.lionsgate.com
thefuelfilm.com
www.sleepdealer.com
www.thecrimsonbolt.com
www.signature-entertainment.co.uk
www.thisisenglandmovie.co.uk
www.goforitmovie.com
movies.disney.com
miamericamovie.net
www.3l-filmverleih.de
www.containment-film.com
www.mgm.com
www.foxsearchlight.com
www.courageousthemovie.com
www.sonyclassics.com
www.newline.com
www.warnerbros.com
www.wintersbonemovie.com
www.meandyoumovie.com
www.sonyclassics.com
www.harshtimes.com
www.shortbusthemovie.com
waltzwithbashir.com
www.noendinsightmovie.com
meekscutoff.com
www.thevirginityhit.com
www.houseofdthemovie.com
www.saintjohnmovie.com
twitter.com
www.roadsideromeo.com
www.thelostmedallion.com
plushthemovie.com
www.lesbianvampirekillersmovie.com
www.grave-encounters.tv
www.ninedead.com
supercapitalist.net
coffeetown.com
johnnyxmovie.com
www.screenmedia.net
www.experienceburied.com
warpfilms.com
www.thesquarefilm.com
www.manonwire.com
thelastexorcism.com
www.nowhereboy.co.uk
padreamaro.ad2.com
www.welcometothebathtub.com
www.sonyclassics.com
www.thegreatestmovieeversold.com
www.travellersandmagicians.com
againstthewild.com
www.foxsearchlight.com
www.graceunplugged.com
www.imdb.com
www.bacfilms.com
www.kickboxervengeance.com
www.insidious-movie.com
todolistmovie.com
moozlumthemovie.com
www.hatchetmovie.com
www.dhentertainment.com
www.roadhardmovie.com
www3.amigomovie.com
truckermovie.net
robzombie.com
www.houseboundthemovie.com
www.walmartmovie.com
www.growingupsmithmovie.com
www.hashtaghorror.com
movies.disney.com
www.thedoglovermovie.com
houseattheendofthedrive.com
www.universalstudiosentertainment.com
nimbusfilm.dk
www.journeyfromthefall.com
www.lionofjudahthemovie.com
www.brokenlizard.com
thealgerianmovie.com
www.homerunthemovie.com
www.mgm.com
www.bluelikejazzthemovie.com
www.nfb.ca
www.certifiablyjonathan.com
www.facebook.com
www.sonyclassics.com
www.lakemungo.com
www.yashrajfilms.com
www.mgm.com
www.chernobyldiaries.com
www.godsnotdead.com
www.bluevalentinemovie.com
www.transamerica-movie.com
www.devilinsidemovie.com
www.beyondthevalleyofthedolls.com
www.climatecrisis.net
www.shinealightmovie.com
www.takepart.com
www.octoberbabymovie.net
www.foxsearchlight.com
www.whokilledtheelectriccar.com
www.orgazmodvd.com
www.sonyclassics.com
www.kino.com
wristcutters.com
theactofkilling.com
www.taxitothedarkside.com
www.frozensouth.com
www.thelegodocumentary.com
hardflipmovie.com
theperfecthostmovie.com
www.speedwayjunky-themovie.com
creativecontrolmovie.com
www.specialthemovie.com
www.epicbuzz.net
www.lovingannabelle.com
www.jimmyandjudymovie.com
www.proudthemovie.com
www.zmdthemovie.com
www.myspace.com
www.truthordarefilm.com
www.fearclinicmovie.com
www.facebook.com
www.filmbreak.com
undiscoveredgyrl.com
www.lifehappensfilm.com
hardcandymovie.com
www.takepart.com
www.fruitvalefilm.com
movies.disney.com
www.facebook.com
www.celesteandjesse.com
www.protagonistpictures.com
www.lhp.com.sg
www.notcoolthemovie.com
www.deadsnow.com
iraqforsale.org
www.kevinhartlaughatmypain.com
www.kill-list.com
www.magnetreleasing.com
www.donkeypunchmovie.co.uk
www.mandylane.co.uk
tartanvideo.com
www.thesisterhoodofnight-movie.com
www.bgirlmovie.com
www.halfnelsonthefilm.co.uk
naturallynative.com
www.starsuckersmovie.com
www.thehadzalastofthefirst.com
www.blairwitch.com
www.facebook.com
www.thebeatles.com
www.facebook.com
www.fireproofthemovie.com
www.benji.com
highroadmovie.com
tosavealifemovie.com
sholemaleichemthemovie.com
www.halestormentertainment.com
www.meancreekmovie.com
www.magpictures.com
www.rickyjaymovie.com
theotherdreamteam.com
www.rubberfilm.com
www.monstersfilm.com
www.detentionofthedead.com
girlsgonedeadmovie.com
www.thedevilscarnival.com
soundandtheshadow.com
mutualfriendsmovie.com
www.wie-im-himmel-derfilm.de
blueruinmovie.com
www.paranormalactivity-movie.com
www.sonypictures.com
www.sonypictures.com
www.iwantyourmoney.net
www.censoredvoices.com
www.51birchstreet.com
www.dogtooth.gr
www.tupac-resurrection.com
www.piecesofaprilmovie.com
www.lookingglassfilm.com
www.locker13.com
someguywhokillspeople.com
www.magpictures.com
www.viewaskew.com
www.likecrazy.com
www.kickstarter.com
www.ontheouts.com
www.shotgunstories.com
www.examthemovie.com
www.theasylum.cc
www.thechristmasbunny.com
www.give-me-shelter.com
www.bronsonthemovie.com
detroitfirefilm.org
www.thegracecardmovie.com
www.malevolencemovie.com
www.realityshowthefilm.com
www.gooddickthefilm.com
manfromearth.com
www.heliconarts.com
www.miramax.com
weekenderfilm.tumblr.com
www.anotherearth.com
www.sonyclassics.com
www.foxsearchlight.com
thearousedproject.com
www.yoursisterssister-themovie.com
www.adogsbreakfastmovie.com
www.foxsearchlight.com
www.facingthegiants.com
thegallowsmovie.com
www.indiegamethemovie.com
www.pithemovie.com
www.tigerorangemovie.com
www.thedirtiesthemovie.com
tinyfurniture.com
www.cthulhulives.org
www.bendingsteelmovie.com
www.facebook.com
www.montereymedia.com
www.facebook.com
www.mgm.com
downterrace.blogspot.com
www.miramax.com
www.facebook.com
www.thepuffychairmovie.com
tincanmanthemovie.com
www.primermovie.com
www.hallmarkchannel.com
shanghaicalling.com

### 5.Extract a set of normalized tables.

In this point the columns of dataframes stored as lists of dictionaries are extracted and stored in new dataframes in a normal form.

In [16]:
genres = pd.DataFrame(eval(movies.genres[0])) #initializing of the genres dataframe
genres['id_movie'] = movies.id[0]

for i in range(len(movies)):    #in this cycle is created the total genres df for each movie
    
    if i == max(range(len(movies))):
        break
    
    genres_i = pd.DataFrame(eval(movies.genres[i+1]))

    if genres_i.empty:    #handling of empty dataframes (in case genres_i is empty we can't add column like in the else statement)
        genres_i = genres_i.append({'id_movie': movies.id[i+1]}, ignore_index = True)
        genres_i.id_movie = genres_i.id_movie.astype(np.int64)

    else:
        genres_i['id_movie'] = movies.id[i+1]
        
        
    genres = pd.concat([genres, genres_i], ignore_index = True, join_axes = [genres.columns])    #union of the new df with the previous


genres.head(10)

      id             name  id_movie
0   28.0           Action     19995
1   12.0        Adventure     19995
2   14.0          Fantasy     19995
3  878.0  Science Fiction     19995
4   12.0        Adventure       285
5   14.0          Fantasy       285
6   28.0           Action       285
7   28.0           Action    206647
8   12.0        Adventure    206647
9   80.0            Crime    206647

In [17]:
genres.columns = ['id_genre', 'name_genre', 'id']
genres.head(10)

   id_genre       name_genre      id
0      28.0           Action   19995
1      12.0        Adventure   19995
2      14.0          Fantasy   19995
3     878.0  Science Fiction   19995
4      12.0        Adventure     285
5      14.0          Fantasy     285
6      28.0           Action     285
7      28.0           Action  206647
8      12.0        Adventure  206647
9      80.0            Crime  206647

In [18]:
keywords = pd.DataFrame(eval(movies.keywords[0]))
keywords['id_movie'] = movies.id[0]


for i in range(len(movies)):
    
    if i == max(range(len(movies))):
        break
    
    keywords_i = pd.DataFrame(eval(movies.keywords[i+1]))

    if keywords_i.empty:
        keywords_i = keywords_i.append({'id_movie': movies.id[i+1]}, ignore_index = True)
        keywords_i.id_movie = keywords_i.id_movie.astype(np.int64)

    else:
        keywords_i['id_movie'] = movies.id[i+1]
     
    keywords = pd.concat([keywords, keywords_i], ignore_index = True, join_axes = [keywords.columns])


keywords.head(10)

       id           name  id_movie
0  1463.0  culture clash     19995
1  2964.0         future     19995
2  3386.0      space war     19995
3  3388.0   space colony     19995
4  3679.0        society     19995
5  3801.0   space travel     19995
6  9685.0     futuristic     19995
7  9840.0        romance     19995
8  9882.0          space     19995
9  9951.0          alien     19995

In [19]:
keywords.columns = ['id_kw', 'name_kw', 'id']
keywords.head(10)

    id_kw        name_kw     id
0  1463.0  culture clash  19995
1  2964.0         future  19995
2  3386.0      space war  19995
3  3388.0   space colony  19995
4  3679.0        society  19995
5  3801.0   space travel  19995
6  9685.0     futuristic  19995
7  9840.0        romance  19995
8  9882.0          space  19995
9  9951.0          alien  19995

In [20]:
prod_comp = pd.DataFrame(eval(movies.production_companies[0]))
prod_comp['id_movie'] = movies.id[0]


for i in range(len(movies)):
    
    if i == max(range(len(movies))):
        break
    
    prod_comp_i = pd.DataFrame(eval(movies.production_companies[i+1]))

    if prod_comp_i.empty:
        prod_comp_i = prod_comp_i.append({'id_movie': movies.id[i+1]}, ignore_index = True)
        prod_comp_i.id_movie = prod_comp_i.id_movie.astype(np.int64) 

    else:
        prod_comp_i['id_movie'] = movies.id[i+1]
        
    prod_comp = pd.concat([prod_comp, prod_comp_i], ignore_index = True, join_axes = [prod_comp.columns])


prod_comp.head(10)

        id                                    name  id_movie
0    289.0                 Ingenious Film Partners     19995
1    306.0  Twentieth Century Fox Film Corporation     19995
2    444.0                      Dune Entertainment     19995
3    574.0                Lightstorm Entertainment     19995
4      2.0                    Walt Disney Pictures       285
5    130.0                 Jerry Bruckheimer Films       285
6  19936.0                 Second Mate Productions       285
7      5.0                       Columbia Pictures    206647
8  10761.0                                  Danjaq    206647
9  69434.0                                     B24    206647

In [21]:
prod_comp.columns = ['id_company', 'company_name', 'id']
prod_comp.head(10)

   id_company                            company_name      id
0       289.0                 Ingenious Film Partners   19995
1       306.0  Twentieth Century Fox Film Corporation   19995
2       444.0                      Dune Entertainment   19995
3       574.0                Lightstorm Entertainment   19995
4         2.0                    Walt Disney Pictures     285
5       130.0                 Jerry Bruckheimer Films     285
6     19936.0                 Second Mate Productions     285
7         5.0                       Columbia Pictures  206647
8     10761.0                                  Danjaq  206647
9     69434.0                                     B24  206647

In [22]:
prod_countries = pd.DataFrame(eval(movies.production_countries[0]))
prod_countries['id_movie'] = movies.id[0]


for i in range(len(movies)):
    
    if i == max(range(len(movies))):
        break
    
    prod_countries_i = pd.DataFrame(eval(movies.production_countries[i+1]))

    if prod_comp_i.empty:
        prod_countries_i = prod_countries_i.append({'id_movie': movies.id[i+1]}, ignore_index = True)
        prod_countries_i.id_movie = prod_countries_i.id_movie.astype(np.int64)

    else:
        prod_countries_i['id_movie'] = movies.id[i+1]
        
    prod_countries = pd.concat([prod_countries, prod_countries_i], ignore_index = True, join_axes = [prod_countries.columns])


prod_countries.head(10)

  iso_3166_1                      name  id_movie
0         US  United States of America     19995
1         GB            United Kingdom     19995
2         US  United States of America       285
3         GB            United Kingdom    206647
4         US  United States of America    206647
5         US  United States of America     49026
6         US  United States of America     49529
7         US  United States of America       559
8         US  United States of America     38757
9         US  United States of America     99861

In [23]:
prod_countries.columns = ['iso_3166_1', 'country', 'id']
prod_countries.head(10)

  iso_3166_1                   country      id
0         US  United States of America   19995
1         GB            United Kingdom   19995
2         US  United States of America     285
3         GB            United Kingdom  206647
4         US  United States of America  206647
5         US  United States of America   49026
6         US  United States of America   49529
7         US  United States of America     559
8         US  United States of America   38757
9         US  United States of America   99861

In [24]:
languages = pd.DataFrame(eval(movies.spoken_languages[0]))
languages['id_movie'] = movies.id[0]


for i in range(len(movies)):
    
    if i == max(range(len(movies))):
        break
    
    languages_i = pd.DataFrame(eval(movies.spoken_languages[i+1]))

    if languages_i.empty:
        languages_i = languages_i.append({'id_movie': movies.id[i+1]}, ignore_index = True)
        languages_i.id_movie = languages_i.id_movie.astype(np.int64)

    else:
        languages_i['id_movie'] = movies.id[i+1]
        
    languages = pd.concat([languages, languages_i], ignore_index = True, join_axes = [languages.columns])


languages.head(10)

  iso_639_1      name  id_movie
0        en   English     19995
1        es   Español     19995
2        en   English       285
3        fr  Français    206647
4        en   English    206647
5        es   Español    206647
6        it  Italiano    206647
7        de   Deutsch    206647
8        en   English     49026
9        en   English     49529

In [25]:
languages.columns = ['iso_639_1', 'language', 'id']
languages.head(10)

  iso_639_1  language      id
0        en   English   19995
1        es   Español   19995
2        en   English     285
3        fr  Français  206647
4        en   English  206647
5        es   Español  206647
6        it  Italiano  206647
7        de   Deutsch  206647
8        en   English   49026
9        en   English   49529

In the following the same procedure is applied to the credits dataframe.

In [26]:
cast = pd.DataFrame(eval(credits.cast[0]))
cast['movie_id'] = credits.movie_id[0]


for i in range(len(credits)):
    
    if i == max(range(len(credits))):
        break
    
    cast_i = pd.DataFrame(eval(credits.cast[i+1]))

    if cast_i.empty:
        cast_i = cast_i.append({'movie_id': credits.movie_id[i+1]}, ignore_index = True)
        cast_i.movie_id = cast_i.movie_id.astype(np.int64)

    else:
        cast_i['movie_id'] = credits.movie_id[i+1]
        
    cast = pd.concat([cast, cast_i], ignore_index = True, join_axes = [cast.columns])


cast.head(10)

,cast_id,character,credit_id,gender,id,name,order,movie_id
0,242.0,Jake Sully,5602a8a7c3a3685532001c9a,2.0,65731.0,Sam Worthington,0.0,19995
1,3.0,Neytiri,52fe48009251416c750ac9cb,1.0,8691.0,Zoe Saldana,1.0,19995
2,25.0,Dr. Grace Augustine,52fe48009251416c750aca39,1.0,10205.0,Sigourney Weaver,2.0,19995
3,4.0,Col. Quaritch,52fe48009251416c750ac9cf,2.0,32747.0,Stephen Lang,3.0,19995
4,5.0,Trudy Chacon,52fe48009251416c750ac9d3,1.0,17647.0,Michelle Rodriguez,4.0,19995
5,8.0,Selfridge,52fe48009251416c750ac9e1,2.0,1771.0,Giovanni Ribisi,5.0,19995
6,7.0,Norm Spellman,52fe48009251416c750ac9dd,2.0,59231.0,Joel David Moore,6.0,19995
7,9.0,Moat,52fe48009251416c750ac9e5,1.0,30485.0,CCH Pounder,7.0,19995
8,11.0,Eytukan,52fe48009251416c750ac9ed,2.0,15853.0,Wes Studi,8.0,19995
9,10.0,Tsu'Tey,52fe48009251416c750ac9e9,2.0,10964.0,Laz Alonso,9.0,19995

In [28]:
crew = pd.DataFrame(eval(credits.crew[0]))
crew['movie_id'] = credits.movie_id[0]


for i in range(len(credits)):
    
    if i == max(range(len(credits))):
        break
    
    crew_i = pd.DataFrame(eval(credits.crew[i+1]))

    if crew_i.empty:
        crew_i = crew_i.append({'movie_id': credits.movie_id[i+1]}, ignore_index = True)
        crew_i.movie_id = crew_i.movie_id.astype(np.int64)

    else:
        crew_i['movie_id'] = credits.movie_id[i+1]
        
    crew = pd.concat([crew, crew_i], ignore_index = True, join_axes = [crew.columns])


crew.head(10)

,credit_id,department,gender,id,job,name,movie_id
0,52fe48009251416c750aca23,Editing,0.0,1721.0,Editor,Stephen E. Rivkin,19995
1,539c47ecc3a36810e3001f87,Art,2.0,496.0,Production Design,Rick Carter,19995
2,54491c89c3a3680fb4001cf7,Sound,0.0,900.0,Sound Designer,Christopher Boyes,19995
3,54491cb70e0a267480001bd0,Sound,0.0,900.0,Supervising Sound Editor,Christopher Boyes,19995
4,539c4a4cc3a36810c9002101,Production,1.0,1262.0,Casting,Mali Finn,19995
5,5544ee3b925141499f0008fc,Sound,2.0,1729.0,Original Music Composer,James Horner,19995
6,52fe48009251416c750ac9c3,Directing,2.0,2710.0,Director,James Cameron,19995
7,52fe48009251416c750ac9d9,Writing,2.0,2710.0,Writer,James Cameron,19995
8,52fe48009251416c750aca17,Editing,2.0,2710.0,Editor,James Cameron,19995
9,52fe48009251416c750aca29,Production,2.0,2710.0,Producer,James Cameron,19995

### 6. For each movie, compute the gross margin (difference between revenue and budget)

In [27]:
movies['gross_margin'] = movies['revenue'] - movies['budget']

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,year,gross_margin
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2009.0,2550965087
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,2007.0,661000000
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,2015.0,635674609
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,2012.0,834939099
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,2012.0,24139100

### 7. For each movie, compute the number of crew members

In [22]:
crew.groupby('movie_id').size()

movie_id
5          88
11         20
12        104
13         93
14        109
16         62
18        134
19         22
20         17
22        128
24        161
25         10
28         49
33         43
35         66
38         21
55         59
58         23
59         35
62         19
65         92
66         18
68         30
69         65
70         81
71         17
73        100
74        164
75         21
76         12
         ...
373314     14
374461      9
375290     13
375950      5
376004     41
376010      3
376659      4
378200      5
378237      1
379532      9
380097      1
380733      1
381902      3
385383      7
385636      8
385736     15
386826      7
389425     29
394047      6
395766      2
396152      3
402515      2
407887      5
408429      1
417859     21
426067      1
426469      3
433715      3
447027      1
459488      1
Length: 4803, dtype: int64

### 8. For each movie, compute the number of directors

In [24]:
crew[crew.job == 'Director'].groupby('movie_id').size()

movie_id
5         4
11        1
12        1
13        1
14        1
16        1
18        1
19        1
20        1
22        1
24        1
25        1
28        1
33        1
35        1
38        1
55        1
58        1
59        1
62        1
65        1
66        1
68        1
69        1
70        1
71        1
73        1
74        1
75        1
76        1
         ..
370662    1
370980    1
371690    1
373314    1
374461    1
375290    1
375950    1
376004    1
376010    1
376659    2
378200    1
379532    1
380733    1
381902    1
385383    1
385636    1
385736    1
386826    1
389425    1
394047    1
395766    1
396152    1
402515    2
407887    1
408429    1
417859    1
426067    1
426469    1
433715    1
459488    1
Length: 4773, dtype: int64

### 9.For each language, compute the number of movies where such language is spoken.

In [7]:
languages.dropna().groupby('iso_639_1').size()

iso_639_1
af       7
am       1
ar      67
bg       3
bm       1
bn       1
bo       4
br       1
bs       2
ca       1
ce       1
cn      48
co       1
cs      38
cy       2
da      14
de     262
dz       1
el      20
en    4485
eo       2
es     351
et       2
fa      12
fi       3
fr     437
ga       6
gd       6
gl       1
he      33
      ...
ps       2
pt      68
ro      13
ru     185
sa       1
sh       4
si       1
sk       2
sl       1
so       3
sq       4
sr       6
st       1
sv      22
sw       8
ta       4
te       1
th      40
tl       1
to       1
tr      18
uk       9
ur      15
vi      17
wo       1
xh       4
xx       2
yi       8
zh     107
zu       4
Length: 87, dtype: int64

### 10. For each company and each decade, compute the overall revenue

In [15]:
movies['decade'] = ( movies.year // 10 )*10  #decade computation. A decade is intended from ***0 to ***9

pd.merge(movies, prod_comp).dropna(subset =['company_name']).groupby(['company_name', 'decade']).sum()['revenue']

company_name                                      decade
"DIA" Productions GmbH & Co. KG                   2000.0      44350926
1.85 Films                                        2010.0         98017
10 West Studios                                   2010.0             0
100 Bares                                         2000.0      33965843
                                                  2010.0      24000000
1019 Entertainment                                2010.0       2801508
101st Street Films                                1990.0             0
10th Hole Productions                             2010.0      34705850
120 Films                                         2000.0           792
120dB Films                                       2000.0         71904
                                                  2010.0             0
13 Ghosts Productions Canada Inc.                 2000.0             0
1492 Pictures                                     1990.0     223532389
                                                  2000.0    3956683497
                                                  2010.0     874772366
16 Block Productions                              2000.0      65664721
1812 Productions                                  2010.0             0
1818                                              1980.0      12232628
1821 Pictures                                     2000.0      31912793
                                                  2010.0      16405445
19 Entertainment                                  2000.0       4922166
1984 Private Defense Contractors                  2010.0     190619464
2 Entertain                                       2000.0      37311672
2 Loop Films                                      2000.0        150277
2.4.7. Films                                      2000.0             0
2003 Productions                                  2000.0             0
20th Century Fox Home Entertainment               2000.0      17280326
20th Century Fox Russia                           2010.0      89328627
21 Laps Entertainment                             2000.0    1286768841
                                                  2010.0    1062029612
                                                               ...
Zoetrope Studios                                  1970.0      89460381
Zookeeper Productions                             2010.0     169852759
Zoom Hunt International Productions Company Ltd.  2000.0     213525736
Zucker/Netter Productions                         2000.0     330208309
Zupnik Cinema Group II                            1990.0      10725228
Zwart Arbeid                                      2000.0       1984662
area japan                                        2000.0        317000
bob industries                                    2010.0      52501541
chateau productions                               1970.0            11
d-rights                                          2000.0     234710455
double A Films                                    2000.0       9304609
every tribe entertainment                         2000.0             0
i5 Films                                          2000.0             0
icon                                              2000.0       3031801
kNow Productions                                  2010.0             0
lucky crow films                                  2000.0             0
nWave Pictures                                    2010.0             0
ntc                                               2000.0             0
platinum studios                                  2010.0       4634062
rusty bear entertainment                          2000.0             0
thefyzz                                           2010.0      10501938
thinkfilm                                         2000.0    1169069335
uFilm                                             2000.0     159093068
                                                  2010.0     137197583
unafilm                                           2010.0             0
verture Films                                     2000.0             0
warner bross Turkey                               2010.0     320170008
winchester films                                  2000.0             0
África Filmes                                     2010.0             0
Österreichischer Rundfunk (ORF)                   2000.0      92180910
Name: revenue, Length: 6123, dtype: int64

### 11. For each decade, compute the company with maximum revenue

In [16]:
pd.merge(movies, prod_comp).dropna(subset =['company_name']).groupby(['decade'])['revenue', 'company_name'].max()

           revenue                     company_name
decade
1910.0     8394751             Wark Producing Corp.
1920.0    22000000             Universum Film (UFA)
1930.0   400176459                     Warner Bros.
1940.0   267447150                     Warner Bros.
1950.0    36000000                     Warner Bros.
1960.0   286214286        Woodfall Film Productions
1970.0   775398007              chateau productions
1980.0   792910554                            Yanco
1990.0  1845034188           Zupnik Cinema Group II
2000.0  2787965087  Österreichischer Rundfunk (ORF)
2010.0  1519557910                    África Filmes

### 12. In each year, how many movies have revenue smaller than the budget?

In [28]:
movies[movies.gross_margin < 0].groupby('year').size()

year
1927.0     1
1947.0     1
1948.0     1
1954.0     1
1962.0     1
1963.0     1
1964.0     2
1965.0     3
1966.0     1
1968.0     2
1969.0     1
1970.0     4
1971.0     1
1972.0     1
1974.0     1
1977.0     4
1978.0     1
1979.0     2
1980.0     5
1981.0    11
1982.0     1
1983.0     5
1984.0     9
1985.0     9
1986.0     9
1987.0     3
1988.0     4
1989.0     6
1990.0     4
1991.0    10
1992.0     9
1993.0    15
1994.0    15
1995.0    19
1996.0    32
1997.0    33
1998.0    39
1999.0    55
2000.0    53
2001.0    56
2002.0    71
2003.0    47
2004.0    61
2005.0    55
2006.0    63
2007.0    55
2008.0    64
2009.0    78
2010.0    65
2011.0    70
2012.0    52
2013.0    62
2014.0    59
2015.0    67
2016.0    26
dtype: int64